:root {
  --color-white: #FFFFFF;
  --color-background-page: #F3EEE8;

  --color-brand-primary-100: #A06056;
  --color-brand-primary-200: rgba(112, 100, 88, 0.90);
  --color-brand-primary-300: #706458;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}

body {
  scroll-behavior: smooth;
  font-family: 'Varta', sans-serif;
  font-size: 1.4rem !important;
}
